.student-addmission {
  min-height: 100vh;
  display: flex;
  align-items: center;
  margin-top: 60px;
  flex-direction: column;
  position: relative;
  margin-bottom: 100px;
}
.student-addmission form {
  background: #ffffff;
  padding: 10px;
  border-radius: 10px;
  /* height: 50%; */
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  box-shadow: 1px 37px 0px 10px rgb(133 28 59);
}

.student-addmission h2 {
  color: var(--md-rose);
  font-weight: bold;
  font-family: monospace;
}
.student-addmission form input {
  border: 1px #851c3b solid;
  outline: none;
}

.student-addmission .actions {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.student-addmission .actions button {
  border: none;
  background: #380a2f;
  color: #fffcfd;
  font-weight: bold;
  font-size: 18px;
}
.student-addmission .error-box {
  background-color: #ff0909;
  width: 100%;
  height: -moz-fit-content;
  height: fit-content;
  position: fixed;
  margin: 0;
  transform: translateY(-100px);
  transition: all ease-in 0.5s;
  top: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 3px;
}
.student-addmission .showError {
  box-shadow: 1px -2px 54px 6px rgb(133 28 59);
  transform: translateY(0);
}

.student-addmission .error-box a {
  background: white;
  padding: 5px;
  font-size: 20px;
  color: red;
  text-decoration: none;
  font-weight: bold;
  border-radius: 5px;
}
