.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}
:root {
  --light-rose: rgb(235 82 155);
  --md-rose: rgb(133 28 60);
  --dark-rose: rgb(56 10 47);
  --trans-rose: rgb(235 82 155 / 62%);
}
.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.sm-logo {
  width: 45px;
  height: 45px;
  clip-path: circle(50%);
}
.logo-md {
  width: 180px;
  height: 180px;
  clip-path: circle(50%);
}

.trans-rose {
  color: rgb(235 82 155 / 62%);
}
.dark-rose {
  color: rgb(56 10 47);
}
.md-rose {
  color: rgb(210 81 162);
}
.light-rose {
  color: rgb(235 82 155);
}
.tx-dark {
  color: rgb(61, 61, 61);
}
